* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  transition: 1s;
  display: none;
}

.garage-door-img {
  width: 100%;
  transition: 1s;
}

#btn-garage {
  width: 100px;
  height: 25px;
}

h1 {
  margin-bottom: 50px;
}

h3 {
  margin: 10px;
}

h3:hover {
  cursor: pointer;
}

#container-and-form {
  display: flex;
}

input {
  display: block;
}

.btn-add {
  display: block;
}

#garage-item-container {
  margin-right: 50px;
}

ul {
  list-style-type: none;
}