* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color: #28536B;*/
  font-family: 'Open-Sans';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  transition: 1s;
  display: none;
}

#garage-door {
  position: absolute;
  width: 100vw;
  /*height: 100vh;*/
  top: 50px;
  bottom: 0;
  overflow: hidden;
  transition: all 3s;
}

#garage-door .slide {
  bottom: 100vh;
  height: 45px;
}

.garage-door-img {
  width: 100%;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  overflow: hidden;
  transition: all 3s;
}

.garage-door-img .slide{
  top: 100vh;
  height: 100px;
}

#btn-garage {
  width: 100px;
  height: 25px;
  z-index: 2;
  position: absolute;
}

h1 {
  margin-bottom: 20px;
  /*position: absolute;*/
}

h3 {
  margin: 10px;
}

h3:hover {
  cursor: pointer;
}

#container-and-form {
  display: flex;
  margin-top: 100px;
  background-color: #28536B;
  width: 100vw;
  justify-content: center;
  color: #fff;
}

input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
}

.btn-add {
  display: block;
  margin: 10px auto;
  height: 25px;
  width: 50%;
}

#garage-item-container {
  margin-right: 50px;
}

ul {
  list-style-type: none;
}

.add-item-title {
  margin: 20px;
}

.sort-a, .sort-z {
  width: 40%;
  height: 25px;
}

.lift {
  z-index: 10;
}

button {
  outline: none;
}

input {
  outline: none;
}